In [8]:
import json
import pandas as pd


file_json = open('ejemplo_1.json')

data = json.load(file_json)

print(data)
print(type(data))

print(data['Duration'])

In [11]:
type(data)
dataf = pd.DataFrame.from_dict(data)
dataf

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [5]:
bibliografia = '{"author":["Andrew Gelman","Laura Kind", "Mike Laurent"], "title":"Bayesian Data Analysis", "year":2014, "publisher":"Taylor and Francis Group"}'
type(bibliografia)

In [7]:
blib = json.loads(bibliografia)
print(blib)
print(type(blib))

In [9]:
ejemplo = pd.read_json('ejemplo_1.json', orient = 'column')

print(ejemplo)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300